<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727014706011-buerlu3jl4ns2opr4v4mol85e32l7k2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727014706011-buerlu3jl4ns2opr4v4mol85e32l7k2s</string>
	<key>API_KEY</key>
	<string>AIzaSyAy7BW0fnxPYN7MiPksW1Xpu244HcPP3pI</string>
	<key>GCM_SENDER_ID</key>
	<string>727014706011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>company.tap.TapCardScannerExample</string>
	<key>PROJECT_ID</key>
	<string>tapcardscanner</string>
	<key>STORAGE_BUCKET</key>
	<string>tapcardscanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727014706011:ios:079a274710a80fbdfce87e</string>
	<key>DATABASE_URL</key>
	<string>https://tapcardscanner.firebaseio.com</string>
</dict>
</plist>